@import "node_modules/bootstrap/dist/css/bootstrap.css";

.margin-top10{
    margin-top: 10px;
}

body {
    -ms-overflow-style: scrollbar;
    -webkit-app-region: drag;

    overflow: hidden;
    background-color: #FAFAFA;

    box-sizing: border-box;
}

input, textarea, button, span.spanButton {
  -webkit-app-region: no-drag;
}

.titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  
  height: 40px;
  width: 100%;
  background-color: #EEEEEE;
}
#winClose {
    -webkit-app-region: no-drag;
    padding: 10px 20px;
}
#winClose:hover{
    background-color: red;
}

.tinny{
    max-height: 100px;
}

.mincol {
    min-height: 180px;
}

.title-file {
    word-wrap: break-word;
    text-align: center;
}

#areaVisualizar,
#arealistafiles {
    overflow-y: scroll;
    height: 70vh;
    -webkit-app-region: no-drag;
}
#areaVisualizar{
    overflow-y: initial;
}

#listafiles img {
    -webkit-user-select: none;
}

#btnVoltarCaminho {
    cursor: pointer;
}

#areaBotoesMenu {
    float: right;
    margin-left: 5px;
}

#areaConteudo {
    height: 100%;
    position: relative;
    width: 658px;
    width: calc(100% - 92px);
    float: left;
}
#areaConteudo img {
    max-height: 100%;
    max-width: 100%;
    
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

#areaCarregando{
    position: relative;
    height: 70vh;
    width: 100%;
}

#setaDireita,
#setaEsquerda{
    height: 100%;
    width: 46px;
    float: left;
    background: #eee;
    cursor: pointer;
    padding: 181px 0 0 20px;
}
#setaDireita{
    float: right;
}

#areaVisualizarDireita{
    height: 100%;
}

#areaHierarquia{
    word-wrap: break-word;
    font-size: 12px;
}
/* div loading */
.loader {
    border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #5C0093;
  border-bottom: 16px solid #5C0093;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* /div loading */